<!doctype html>
<html>
    <head>
    <title>Mat site</title>
    </head>
    <body>
        <header> <img src="/image/loo.png" alt="techzone general it solution"></header>
        {{!-- will be replaced with html for each view --}}
        {{{body}}}
        <p>Matewos</p> 
    </body>
</html>